/* @import "tailwindcss"; */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-gov-dynamic-subset.min.css");

:root {
  /* --c-glyph: rgb(0, 0, 0); */
  --c-glyph-gray: rgb(29, 29, 31);
  --c-glyph-gray-alpha: rgba(0, 0, 0, 0.88);
  --c-glyph-gray-secondary: rgb(110, 110, 115);
  --c-glyph-gray-secondary-alpha: rgba(0, 0, 0, 0.56);
  --c-glyph-gray-secondary-alt: rgb(66, 66, 69);
  --c-glyph-gray-secondary-alt-alpha: rgba(0, 0, 0, 0.72);
  --c-glyph-gray-tertiary: rgb(134, 134, 139);
  --c-glyph-gray-tertiary-alpha: rgba(0, 0, 0, 0.48);

  --c-glyph-blue: rgb(0, 102, 204);
  --c-glyph-orange: rgb(182, 68, 0);
  --c-glyph-green: rgb(0, 128, 9);
  --c-glyph-red: rgb(227, 0, 0);

  --c-fill: rgb(255, 255, 255);
  --c-fill-secondary: rgb(250, 250, 252);
  --c-fill-tertiary: rgb(245, 245, 247);
  --c-fill-gray: rgb(29, 29, 31);
  --c-fill-gray-alpha: rgba(0, 0, 0, 0.88);
  --c-fill-gray-secondary: rgb(134, 134, 139);
  --c-fill-gray-secondary-alpha: rgba(0, 0, 0, 0.48);
  --c-fill-gray-tertiary: rgb(210, 210, 215);
  --c-fill-gray-tertiary-alpha: rgba(238, 238, 238, 0.60);
  --c-fill-gray-quaternary: rgb(232, 232, 237);
  --c-fill-gray-quaternary-alpha: rgba(255, 255, 255, 0.60);

  --c-fill-blue: rgb(0, 113, 227);
  --c-fill-orange: rgb(245, 99, 0);
  --c-fill-orange-secondary: rgb(255, 249, 244);
  --c-fill-green: #3E935C;
  --c-fill-green-secondary: #EEFBF4;
  --c-fill-red: #CC2A53;
  --c-fill-red-secondary: #FDEAEE;
  --c-fill-navy: #385FA2;
  --c-fill-navy-secondary: #EEF4FC;
  --c-fill-yellow: rgb(255, 224, 69);
  --c-fill-yellow-secondary: rgb(255, 254, 242);

  --c-productred: rgb(175, 30, 45);
  --c-enviro-green: rgb(0, 217, 89);
  --c-enviro-neutral: rgb(232, 232, 237);
}

body {
  margin: 0;
  padding: 0;
  background: var(--c-fill);
  color: var(--c-glyph-gray);
  font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

input,
textarea,
button {
  outline: none;
  border: none;
  user-select: none;
  background: none;
  resize: none;
  font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.navigation {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 52px;
  padding: 0px 24px;
  box-sizing: border-box;
  background-color: var(--c-fill-gray-quaternary-alpha);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 10;
}

.navigation__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 944px;
  padding: 0px 6px;
}

.navigation__content--large {
  max-width: 100%;
}

.navigation__menu {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--c-glyph-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.navigation__menu--logo {
  font-size: 20px;
  font-weight: 900;
}

.navigation__menu--inactive {
  color: var(--c-glyph-gray-secondary-alpha);
}

.navigation__menu_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.navigation__menu_container .navigation__menu:not(:last-child)::after {
  content: "";
  display: block;
  width: 6px;
  height: 10px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none"><path d="M6 5C6 5.26747 5.90608 5.49127 5.67403 5.70961L1.49724 9.75437C1.33149 9.91812 1.12707 10 0.883978 10C0.39779 10 0 9.61245 0 9.1321C0 8.88646 0.0994475 8.66812 0.281768 8.48799L3.92265 4.99454L0.281768 1.50655C0.0994475 1.33188 0 1.10808 0 0.867904C0 0.393013 0.39779 0 0.883978 0C1.12707 0 1.33149 0.0818777 1.49724 0.245633L5.67403 4.29039C5.90055 4.50327 6 4.72707 6 5Z" fill="%233C3C43" fill-opacity="0.6"/></svg>') no-repeat center;
}


.section {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 944px;
}

.section--large {
  width: 90%;
  max-width: 1024px;
}

.section--scroll {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
}


.header {
  width: 100%;
  padding-top: 192px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--c-glyph-gray);
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
}

.card {
  position: relative;
  display: flex;
  padding: 40px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 28px;
  background: var(--c-fill-tertiary);
}

.btn {
  display: flex;
  padding: 15px 24px;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  color: var(--c-glyph-gray-secondary-alpha);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  border-radius: 28px;
  background: var(--c-fill);
  cursor: pointer;
  transform: scale(1);

  transition: all 150ms ease-out;
}

.btn:active {
  transform: scale(0.98);
  filter: brightness(0.9) opacity(0.8);
}



/* signin */
.card--signin {
  max-width: 480px;
  padding: 12px;
}

.btn--signin {
  align-self: stretch;
}

.signin__input_container {
  margin: 28px;
  align-self: stretch;
}

/* .signin__input {
  margin: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 2px;
  align-self: stretch;
  flex-wrap: wrap;
  color: var(--c-glyph-gray);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  border-bottom: var(--c-fill-gray-secondary-alpha) 2px solid;
} */

/* .signin__input::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--c-fill-gray-secondary-alpha);
} */



/* dashboard */
.card--assignment {
  width: fit-content;
}

.assignment__container {
  display: flex;
  min-height: 150px;
  flex-direction: column;
  align-items: flex-start;
}

.assignment__subtitle_container {
  display: flex;
  padding-bottom: 8px;
  align-items: flex-start;
  gap: 8px;
}

.assignment__subtitle {
  color: var(--c-glyph-gray);
  font-size: 14px;
  font-weight: 500;
}

.assignment__subtitle--bold {
  font-weight: 700;
}

.assignment__title {
  width: 400px;
  /* height: 45px; */
  flex-shrink: 0;
  color: var(--c-glyph-gray);
  font-size: 20px;
  font-weight: 600;
}

.assignment__schedule_container {
  display: flex;
  padding-top: 22px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.assignment__schedule {
  color: var(--c-glyph-gray-secondary-alpha);
  font-size: 14px;
  font-weight: 600;
}

.assignment__btn {
  width: 36px;
  height: 36px;
  position: absolute;
  right: 20px;
  bottom: 20px;

  transition: all 150ms ease-out;
}

.assignment__btn svg {
  fill: var(--c-glyph-gray);
}

.assignment__btn:active {
  transform: scale(0.95);
}

.assignment__btn:active svg {
  fill: var(--c-glyph-gray-secondary-alpha);
}



/* chat */
.card--chat {
  width: 480px;
  height: 90vh;
  position: fixed;
  top: 70px;
  right: 22px;
  padding-top: 16px;
  padding-bottom: 76px;
  display: flex;
  flex-direction: column;
  background-color: var(--c-fill-gray-tertiary-alpha);
  backdrop-filter: saturate(180%) blur(10px);
}

.node_editor__chat .card--chat {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  background: none;
  backdrop-filter: none;
}

.chat__stack {
  display: flex;
  width: 100%;
  flex: 1;
  height: 100%;
  padding: 40px 0px 0px 0px;
  box-sizing: border-box;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 20px;
  overflow-y: auto;
  scrollbar-width: none;
}

.chat__stack__item {
  color: var(--c-glyph-gray);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.chat__stack__item--bubble {
  display: flex;
  padding: 12px 19px;
  margin-top: 20px;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  background-color: var(--c-fill);
  border-radius: 28px;
}

.chat__input {
  position: absolute;
  left: 12px;
  bottom: 12px;
  display: flex;
  /* width: 456px; */
  width: calc(100% - 24px);
  height: 52px;
  padding: 0px 8px 0px 24px;
  box-sizing: border-box;
  align-items: center;
  gap: 18px;
  border-radius: 28px;
  background: var(--c-fill);
}

.chat__input__text {
  flex: 1 0 0;
  color: var(--c-glyph-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.chat__input__text::placeholder {
  color: var(--c-glyph-gray-secondary-alpha);
}

.chat__input__button {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none"><path d="M36 18.0069C36 27.9156 27.9156 36 17.9931 36C8.08445 36 0 27.9156 0 18.0069C0 8.08445 8.08445 0 17.9931 0C27.9156 0 36 8.08445 36 18.0069ZM17.0948 9.27296L11.0419 15.1601C10.7931 15.395 10.6687 15.6576 10.6687 15.9892C10.6687 16.625 11.1386 17.0948 11.7881 17.0948C12.0922 17.0948 12.4376 16.9705 12.6587 16.7079L15.6576 13.5709L16.8461 12.3409L16.7493 15.0357V25.9255C16.7493 26.5889 17.3159 27.1555 18.0069 27.1555C18.6841 27.1555 19.2645 26.5889 19.2645 25.9255V15.0357L19.1678 12.3409L20.3424 13.5709L23.3413 16.7079C23.5624 16.9705 23.894 17.0948 24.1981 17.0948C24.8477 17.0948 25.3451 16.625 25.3451 15.9892C25.3451 15.6576 25.2069 15.395 24.972 15.1601L18.9052 9.27296C18.6011 8.95509 18.3248 8.85833 18.0069 8.85833C17.6753 8.85833 17.4127 8.95509 17.0948 9.27296Z" fill="%233C3C43" fill-opacity="0.6"/></svg>') no-repeat center;
}

.chat__input__button--active {
  background: url('data:image/svg+xml,<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M36 18.0069C36 27.9156 27.9156 36 17.9931 36C8.08445 36 0 27.9156 0 18.0069C0 8.08445 8.08445 0 17.9931 0C27.9156 0 36 8.08445 36 18.0069ZM17.0948 9.27296L11.0419 15.1601C10.7931 15.395 10.6687 15.6576 10.6687 15.9892C10.6687 16.625 11.1386 17.0948 11.7881 17.0948C12.0922 17.0948 12.4376 16.9705 12.6587 16.7079L15.6576 13.5709L16.8461 12.3409L16.7493 15.0357V25.9255C16.7493 26.5889 17.3159 27.1555 18.0069 27.1555C18.6841 27.1555 19.2645 26.5889 19.2645 25.9255V15.0357L19.1678 12.3409L20.3424 13.5709L23.3413 16.7079C23.5624 16.9705 23.894 17.0948 24.1981 17.0948C24.8477 17.0948 25.3451 16.625 25.3451 15.9892C25.3451 15.6576 25.2069 15.395 24.972 15.1601L18.9052 9.27296C18.6011 8.95509 18.3248 8.85833 18.0069 8.85833C17.6753 8.85833 17.4127 8.95509 17.0948 9.27296Z" fill="%23007AFF"/></svg>') no-repeat center;
}

.chat__close_btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  padding: 0px;
  margin: 0px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none"><path d="M36 18.0069C36 27.9156 27.9156 36 17.9931 36C8.08445 36 0 27.9156 0 18.0069C0 8.08445 8.08445 0 17.9931 0C27.9156 0 36 8.08445 36 18.0069ZM23.1339 11.1386L17.9931 16.2518L12.8799 11.1524C12.6311 10.9036 12.3548 10.7793 11.9954 10.7793C11.2906 10.7793 10.724 11.3183 10.724 12.0231C10.724 12.3686 10.8622 12.6725 11.1109 12.9213L16.2104 18.0207L11.1109 23.1201C10.8622 23.3689 10.724 23.6867 10.724 24.0184C10.724 24.7371 11.2906 25.3037 11.9954 25.3037C12.3548 25.3037 12.6725 25.1654 12.9213 24.9167L17.9931 19.8172L23.0788 24.9167C23.3275 25.1654 23.6453 25.3037 24.0046 25.3037C24.7094 25.3037 25.276 24.7371 25.276 24.0184C25.276 23.6729 25.1654 23.3551 24.9029 23.1063L19.8034 18.0207L24.9167 12.9075C25.1931 12.6311 25.2899 12.3548 25.2899 11.9954C25.2899 11.3044 24.7232 10.7516 24.0323 10.7516C23.6867 10.7516 23.4104 10.8622 23.1339 11.1386Z" fill="black"/></svg>') no-repeat center;
  z-index: 7;
}

.chat__open_btn {
  position: fixed;
  right: 24px;
  top: 94px;
  height: 52px;
  padding: 0px 8px 0px 24px;
  align-items: center;
  gap: 18px;
  border-radius: 28px;
  background-color: var(--c-fill-gray-tertiary-alpha);
  backdrop-filter: saturate(180%) blur(10px);
  font-size: 16px;
  font-weight: 600;
  color: var(--c-glyph-gray);
}


/* tree */
.research {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: scroll;
  scrollbar-width: none;
}

.tree {
  position: relative;
  margin: 107px 24px 24px 24px;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  /* overflow: scroll; */
  z-index: 0;
}

.tree__node {
  --c-key: var(--c-glyph-gray);
  --c-bg: var(--c-fill-tertiary);

  position: absolute;
  min-width: 462px;
  width: 462px;
  max-width: 462px;
  display: inline-flex;
  padding: 14px 12px 16px 8px;
  margin: 0px 32px 0px 0px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  background-color: var(--c-bg);
  border-radius: 4px 18px 18px 4px;
  border-left: 4px solid var(--c-key);
}

.tree__node__link {
  position: absolute;
  display: block;
  left: -26px;
  top: 20px;
  width: 2px;
  height: 20px;
  transform: translateY(-100%);
  background-color: var(--c-key);
}

.tree__node__link::before {
  content: "";
  position: absolute;
  right: 0px;
  top: -3px;
  width: 28px;
  height: 8px;
  background-color: var(--c-key);
  mask-image: url('data:image/svg+xml,<svg width="28" height="8" viewBox="0 0 28 8" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="4" fill="%23000000"/><rect x="4" y="3" width="24" height="2" fill="%23000000"/></svg>');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

.tree__node__link::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 22px;
  height: 2px;
  background-color: var(--c-key);
}


.tree__node__content_container {
  display: flex;
  padding-left: 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.tree__node__title {
  padding-left: 2px;
  font-size: 12px;
  font-weight: 800;
  color: var(--c-key);
}

.tree__node__content {
  color: var(--c-glyph-gray);
  font-size: 16px;
  font-weight: 400;
}

.tree__node__children_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.tree__node__btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 24px;
  height: 24px;
  padding: 0px;
  background-color: var(--c-key);
  mask-image: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.9609 12.9609C24.9609 19.5727 19.5845 24.9609 12.9609 24.9609C6.34917 24.9609 0.960938 19.5727 0.960938 12.9609C0.960938 6.3374 6.34917 0.960938 12.9609 0.960938C19.5845 0.960938 24.9609 6.3374 24.9609 12.9609ZM11.9374 8.25505V11.9374H8.25505C7.64329 11.9374 7.21975 12.3609 7.21975 12.9727C7.21975 13.5727 7.64329 13.9727 8.25505 13.9727H11.9374V17.6668C11.9374 18.2668 12.3492 18.7021 12.9492 18.7021C13.5609 18.7021 13.9844 18.2786 13.9844 17.6668V13.9727H17.6786C18.2786 13.9727 18.7138 13.5727 18.7138 12.9727C18.7138 12.3609 18.2786 11.9374 17.6786 11.9374H13.9844V8.25505C13.9844 7.64329 13.5609 7.20799 12.9492 7.20799C12.3492 7.20799 11.9374 7.64329 11.9374 8.25505Z" fill="%23000000"/></svg>');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

.tree__node--subject {
  top: 0px;
  left: 0px;
  min-width: 0px;
  width: fit-content;
  padding: 16px 24px;
  border-radius: 18px;
  border: none;
}

.tree__node--argument {
  --c-key: var(--c-fill-green);
  --c-bg: var(--c-fill-green-secondary);
}

.tree__node--counterargument {
  --c-key: var(--c-fill-red);
  --c-bg: var(--c-fill-red-secondary);
}

.tree__node--evidence {
  --c-key: inherit;
  --c-bg: var(--c-fill-gray-quaternary-alpha);

  position: relative;
  min-width: 438px;
  width: 438px;
  max-width: 438px;
  padding: 8px 24px 12px 6px;
}

.tree__node--question {
  --c-key: var(--c-fill-navy);
  --c-bg: var(--c-fill-navy-secondary);
}

.tree__node--answer {
  --c-key: var(--c-fill-green);
  --c-bg: var(--c-fill-gray-quaternary-alpha);

  position: relative;
  min-width: 438px;
  width: 438px;
  max-width: 438px;
  padding: 8px 24px 12px 6px;
}


/* node editor */
.node_editor__page {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.node_editor__container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 70px 24px 24px 24px;
  box-sizing: border-box;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.node_editor__chat {
  position: relative;
  min-width: '480px';
  display: flex;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 28px;
  background: var(--c-fill-tertiary);
}

.node_editor {
  display: flex;
  padding: 40px 40px 16px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 28px;
  background: var(--c-fill-tertiary);
  overflow: scroll;
  scrollbar-width: none;
}

.node_editor__node {
  --c-key: var(--c-fill-green);
  --c-bg: var(--c-fill-gray-quaternary-alpha);

  position: relative;
  display: flex;
  padding: 8px 24px 12px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  box-sizing: border-box;
  background-color: var(--c-bg);
  border-radius: 4px 18px 18px 4px;
  border-left: 4px solid var(--c-key);
}

.node_editor__node__link {
  position: absolute;
  display: block;
  left: 12px;
  top: -28px;
  width: 8px;
  height: 24px;
  /* transform: rotate(90deg); */
  background-color: var(--c-key);
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="24" viewBox="0 0 8 24" fill="none"><circle cx="4" cy="4" r="4" transform="rotate(90 4 4)" fill="%233E935C"/><rect x="5" y="4" width="20" height="2" transform="rotate(90 5 4)" fill="%233E935C"/></svg>');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

.node_editor__node__content_container {
  display: flex;
  /* padding-left: 4px; */
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 4px;
}

.node_editor__node__title {
  padding-left: 2px;
  font-size: 12px;
  font-weight: 800;
  color: var(--c-key);
}

.node_editor__node__content {
  color: var(--c-glyph-gray);
  font-size: 16px;
  font-weight: 400;
  align-self: stretch;
}

.node_editor__node__children_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.node_editor__node__add_btn {
  width: 24px;
  height: 24px;
  padding: 0px;
  margin: 0px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M24 12C24 18.6117 18.6235 24 12 24C5.38823 24 0 18.6117 0 12C0 5.37646 5.38823 0 12 0C18.6235 0 24 5.37646 24 12ZM10.9765 7.29411V10.9765H7.29411C6.68235 10.9765 6.25881 11.4 6.25881 12.0117C6.25881 12.6118 6.68235 13.0118 7.29411 13.0118H10.9765V16.7059C10.9765 17.3058 11.3882 17.7412 11.9882 17.7412C12.6 17.7412 13.0235 17.3176 13.0235 16.7059V13.0118H16.7177C17.3176 13.0118 17.7529 12.6118 17.7529 12.0117C17.7529 11.4 17.3176 10.9765 16.7177 10.9765H13.0235V7.29411C13.0235 6.68235 12.6 6.24706 11.9882 6.24706C11.3882 6.24706 10.9765 6.68235 10.9765 7.29411Z" fill="%233C3C43" fill-opacity="0.6"/></svg>') no-repeat center;
}

.node_editor__node--subject {
  --c-key: var(--c-glyph-gray);
  --c-bg: var(--c-fill-gray-quaternary-alpha);
}

.node_editor__node--argument {
  --c-key: var(--c-fill-green);
  --c-bg: transparent;
}


.node_editor__node--counterargument {
  --c-key: var(--c-fill-red);
  --c-bg: transparent;
}

.node_editor__node--evidence {
  --c-key: inherit;
  --c-bg: var(--c-fill-gray-quaternary-alpha);
}

.node_editor__node--evidence_argument {
  --c-key: var(--c-fill-green);
}

.node_editor__node--evidence_counterargument {
  --c-key: var(--c-fill-red);
}

.node_editor__node--evidence .node_editor__node__title {
  padding-top: 4px;
}

.node_editor__node--question {
  --c-key: var(--c-fill-navy);
  --c-bg: transparent;
}

.node_editor__node--answer {
  --c-key: var(--c-fill-green);
  --c-bg: var(--c-fill-gray-quaternary-alpha);
}

.node_editor__node--argument,
.node_editor__node--counterargument,
.node_editor__node--question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  padding: 0px;
  border-radius: 0px;
  border: none;
}

.node_editor__node--argument>.node_editor__node__content_container,
.node_editor__node--counterargument>.node_editor__node__content_container,
.node_editor__node--question>.node_editor__node__content_container {
  padding-left: 4px;
}